spring:
  application:
    name: blogSphere

  datasource:
    url: jdbc:postgresql://dpg-d5gh3bmr433s73dm6ns0-a.virginia-postgres.render.com:5432/blogspheredb
    #postgresql://blogspheredb_user:7aafC7DfUNKKuR8d43MigSnT8er5e08J@dpg-d5gh3bmr433s73dm6ns0-a.virginia-postgres.render.com/
    username: blogspheredb_user
    password: 7aafC7DfUNKKuR8d43MigSnT8er5e08J
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: ${PORT:8080}
