spring:
  application:
    name: blogSphere

  datasource:
    url: jdbc:postgresql://localhost:5432/blogsphere
    username: postgres
    password: postgrees
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: ${PORT:8080}
